<div class="row">
    <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <accordion close-others="oneAtATime">    
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        <b>Administraci&oacute;n de Empleados </b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <div class="btn-group-vertical col-md-12" role="group" aria-label="...">
                        <a class="btn btn-default" href="#/createEmployee" role="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            &nbsp;Crear
                        </a>
                        <a class="btn btn-default" href="#/searchEmployee" role="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                &nbsp;Buscar
                        </a>
                        <a class="btn btn-default" href="#/schedules" role="button">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                &nbsp;Administrar Horarios
                        </a>  
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <accordion close-others="oneAtATime">    
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        <b>Horas Extra </b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <div class="btn-group-vertical col-md-12" role="group" aria-label="...">
                        <a class="btn btn-default" href="#/addHours" role="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            &nbsp;Solicitar
                        </a>
                        <a class="btn btn-default" href="#/approveHours" role="button">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                &nbsp;Aprobar
                        </a>
                        <a class="btn btn-danger" href="#" role="button">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                &nbsp;Liquidar
                        </a>  
                    </div>                    
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
