<div class="container">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="employee in myEmployees">
            <div class="col-md-12">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img ng-src="Client/app/images/{{employee.genero | imageGenre_filter }}_background.png" />
                            </div>
                            <div class="user">
                                <img class="img-circle" ng-src="Client/app/images/user_{{employee.genero | imageGenre_filter }}.png" />
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">{{employee.nombres}}</h3>
                                    <p class="profession">{{employee.apellidos}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h1 class="motto">{{employee.cedula}}</h1>
                            </div>
                            <div>
                                <div class="list-group">
                                    
                                    <a href="#/detaill/{{employee.idHijo}}/N"  class="list-group-item active">
                                        Total <span class="label label-primary pull-right">{{employee.total}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/L"  class="list-group-item">
                                        Liquidadas <span class="label label-success pull-right">{{employee.liquidadas}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/A"  class="list-group-item">
                                        Aprobadas <span class="label label-info pull-right">{{employee.aprobadas}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/S"  class="list-group-item">
                                        Sin Aprobar <span class="label label-warning pull-right">{{employee.sinAprobar}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/R"  class="list-group-item">
                                        Rechazadas <span class="label label-danger pull-right">{{employee.rechazadas}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end back panel -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!--<div class="container">

    <div class="col-md-6 col-sm-4 col-xs-6" ng-repeat="employee in myEmployees">
        <div class="thumbnail">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="http://emprendecreatic.co/assets/placeholder-user.jpg" alt="user" height="50px" width="50px">
            </div>
            
            <div class="caption col-md-8 col-sm-8 col-xs-8">
                <h3><a href="">{{employee.nombres}}</a></h3>
                <h4><a href="">{{employee.apellidos}}</a></h4>
                <p>
                    <span class="label label-primary pull-right">{{employee.total}}</span>
                    <span class="label label-primary pull-right">{{employee.aprobadas}}</span>
                    <span class="label label-primary pull-right">{{employee.liquidadas}}</span>
                    <span class="label label-primary pull-right">{{employee.sinAprobar}}</span>
                    <span class="label label-primary pull-right">{{employee.rechazadas}}</span>
                    <!--<ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active col-md-12 col-sm-6">
                            <a href="#">Total<span class="label label-primary pull-right">{{employee.total}}</span></a>
                        </li>
                        <li role="presentation" class="col-md-12 col-sm-6">
                            <a>Aprobadas<span class="label label-success pull-right">{{employee.aprobadas}}</span></a>
                        </li>
                        <li role="presentation" class="col-md-12 col-sm-6">
                            <a>Liquidadas<span class="label label-default pull-right">{{employee.liquidadas}}</span></a>
                        </li>
                        <li role="presentation" class="col-md-12 col-sm-6">
                            <a>Sin Aprobar<span class="label label-warning pull-right">{{employee.sinAprobar}}</span></a>
                        </li>
                        <li role="presentation" class="col-md-12 col-sm-6">
                            <a>Rechazadas<span class="label label-danger pull-right">{{employee.rechazadas}}</span></a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>-->
