body {
  padding-top: 2%;
  overflow-x: hidden;
}
.button-datePicker {
  height: 34px;
}
.buttonPanel {
  padding: 9px 11px 9px 11px;
}
.required label {
  font-weight: bold;
}
.required label:after {
  color: #e32;
  content: ' *';
  display: inline;
}
.buttonPanel {
  padding: 9px 11px 9px 11px;
}
.extraHourTemplate {
  cursor: pointer;
}
.footerModalDetaill {
  border-top: none !important;
}
#labelTimePicker {
  padding-top: 2.4em;
}
.scheduleHeader {
  cursor: pointer;
}
.scheduleModalFooter {
  border-top: none;
}
.timepickersContainer {
  padding-left: 4em;
}
.buttonsContainer {
  padding-bottom: 2em;
}
.labelContainer {
  text-align: center;
  font-size: 2em;
  color: #ccc;
}
.backButtonContainer {
  padding-top: 1em;
}
.fastScheduleHeader {
  cursor: pointer;
  color: #002146;
}
