﻿<div class="row">
    <div class="container">
        <div class="col-md-12">
            <form class="form-inline">

                <div class="input-group" id="filter-container">
                    <div class="input-group-addon"><b><span class="glyphicon glyphicon-search"></span></b></div>
                    <input type="text" class="form-control" id="userFilter" placeholder="Filtro" ng-model="filterOptions.filterText">
                </div>
                <!--<div class="form-group">
                    <label for="cedulaFilter">Cédula</label>
                    <input type="number" class="form-control" ng-model="cedula" id="cedulaFilter" placeholder="Cedula">
                </div>
                <div class="form-group">
                    <label for="nombresFilter">Nombres</label>
                    <input type="text" class="form-control" ng-model="nombres" id="nombresFilter" placeholder="Nombres">
                </div>
                <div class="form-group">
                    <label for="ApellidosFilter">Apellidos</label>
                    <input type="email" class="form-control" ng-model="apellidos" id="ApellidosFilter" placeholder="Apellidos">
                </div>-->
                <!--<div class="pull-right">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&ensp;Consultar
                    </button>
                </div>-->
                 <div class="pull-right">
                    <a type="submit" class="btn btn-default" href="#">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&ensp;Volver
                    </a>
                </div>


            </form>
        </div>

        <div class="col-md-12">
            <div style="height: 100%" ng-grid="gridOptions"></div>
        </div>

    </div>

</div>
